@charset "utf-8";
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.file-box{ position:relative;width:360px;} 
.txt{  width:180px;padding: 6px 12px;border: 1px solid transparent;border-color: #46b8da;border-radius: 4px;}
.btns{ width:70px;font-size: 16px;font-weight: 400;line-height: 1.42857143;text-align: center;cursor: pointer;border: 1px solid transparent;color: #fff;background-color: #5bc0de;border-color: #46b8da;border-radius: 4px; }
.file{ position:absolute; top:0;filter:alpha(opacity:0);opacity: 0;width:240px;height:34px;}